PORT=3000
NODE_ENV=development

# Redis Connection
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/job_queue_db

# Worker Configuration
WORKER_CONCURRENCY=5
DEFAULT_MAX_RETRIES=3
DEFAULT_RETRY_BACKOFF_MS=2000
POLL_TIMEOUT_SEC=2
ENABLE_IN_MEMORY_FALLBACK=true
